<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:image" content="{{ site.url }}{{ page.header.teaser }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
<meta property="twitter:title" content="{{ page.title }}">
<meta property="twitter:description" content="{{ page.description }}">
<meta property="twitter:image" content="{{ site.url }}{{ page.header.teaser }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/hannes-site/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/hannes-site/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/hannes-site/hannes/favicon-16x16.png">
<link rel="manifest" href="{{ site.url }}/hannes-site/site.webmanifest">
